.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex: initial;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.links {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.heading {
  margin: 0;
}

.editor {
  display: flex;
  flex: auto;
  overflow-y: scroll;
}

@media screen and (min-aspect-ratio: 1/1) {
  .editor {
    flex-direction: row;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .editor {
    flex-direction: column;
  }
}

.editorActions {
  flex: 1;
  overflow-y: scroll;
}

.actions button {
  font-size: inherit;
  background-color: var(--crust);
}

.editorExp {
  flex: 2;
  overflow-y: scroll;
}

.exp {
  display: inline-block;
  vertical-align: middle;
  padding: 4px;
  margin: 4px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: var(--overlay0);
  background-color: var(--mantle);
}

.leftAndOperatorContainer {
  display: inline-block;
  vertical-align: middle;
}

.leftAndOperator {
  display: flex;
  align-items: center;
}

.borderless {
  border-width: 0px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}

.unary {
  resize: none;
  border: none;
}

.bind {
  font-style: italic;
  background-color: var(--base);
}

.sym {
  font-weight: bold;
  background-color: var(--crust);
}

.focused {
  border-color: var(--overlay2);
  background-color: var(--surface0);
}

.newline {
  flex-basis: 100%;
  border: none;
  margin: 0;
}
